.addFXicon {
    
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.addFXicon:hover {
    opacity: 1;
}

.addFXicon > i {
    font-size: 10px;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    color: white;
    left: -85px;
}

.dropdown-item {
    padding: 5px 10px;
    color: #ff9170;
    font-weight: 500;
}

.dropdown-item:hover {
background-color: #ffefea;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .noscrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }