<div class="effects-rack-container">
  <div class="effects-rack-inner-container">
    <div class="heading-container">
      <div class="centerChild led-container">
        <app-led></app-led>
      </div>
      <div class="centerChild title-container">
        <span class="label"> Effects </span>
      </div>
      <div style="flex-grow: 1"></div>

      <div
        ngbDropdown
        container="body"
        style="flex-basis: 10%"
        class="centerChild addFXicon"
      >
        <i ngbDropdownToggle class="fas fa-plus-circle"></i>
        <div ngbDropdownMenu>
          <button
            *ngFor="let effect of effects"
            ngbDropdownItem
            (click)="FXselectionMade(effect.id)"
          >
            {{ effect.displayName }}
          </button>
        </div>
      </div>
    </div>

    <div class="noscrollbar" style="flex-grow: 1; overflow-y: auto">
      <div
        *ngFor="let liveEffect of liveEffects; let effectIndex = index"
        class="p-3"
      >
        <div style="display: flex">
          <div style="font-weight: bold; flex-grow: 1">
            {{ liveEffect.name }}
          </div>
          <div></div>
          <div
            style="cursor: pointer"
            (click)="removeLiveEffect(effectIndex)"
            class="centerChild"
          >
            <i class="fas fa-minus-circle"></i>
          </div>
        </div>
        <div class="pt-2">
          <app-xy-pad></app-xy-pad>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 2%; background-color: #252c33"></div>
</div>
