.container {
    height:25px;
    width:25px;
    
}

.led {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid grey;
    transition:0.2s;
}

.on {
    background-color: white;
}
