<div class='settingsContainer'>
    <div style='height: 50px;'>
        <div style='display: flex;' class='h-100'>
            <div style='flex-basis: 50px; cursor: pointer;' class='centerChild'>
            </div>
        
            <div style='flex-grow: 1'>
            </div>
        </div>
    </div>
    <div class='h-100'>
        <!-- <div style='height: 50px;' *ngFor='let setting of testSettingsKeys'>
            <div style='display: flex;' class='h-100'>
                <div class='centerChild'
                    style='width: 50px;'
                    (click)='setOpenState(true)'>
                    <i class='fas menuItem' [ngClass]='testSettings[setting].icon'></i>
                </div>
                 <div style='flex-grow: 1; display: flex; align-items: center;' class='menuItem title'>
                    {{testSettings[setting].title}}
                </div>
            </div>

        </div> -->

    </div>
</div>