<div class='settingsRackContainer'>
    <div class='menuContainer'>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : overviewSelected }"
            (click)="selectMenuItem(0)">
            Overview
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : envelopeSelected }"
            (click)="selectMenuItem(1)">
            Envelope
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : partialsSelected }"
            (click)="selectMenuItem(2)">
            Partials
        </div>

        
    </div>
    <div class='settingContainer'>
        <app-adr-envelope [hidden]="!envelopeSelected"></app-adr-envelope>
    </div>
</div>
