.settingsRackContainer{
    background-color:#252c33;
    height: 140px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}


.settingsHolder{
    transition: 0.5s;
}

.menuItem{
    padding:6px;
    background-color: #343538;
    cursor: pointer;
    transition: 0.3s;
}

.selected{
    font-weight: bold;
    color: white;
}


.menuItem-Right{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.menuItem-Left{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.settingsRack{
    height: 80%;
}

.settingContainer{
    height: 85%;
}

.menuContainer{
    display:flex;
    height: 15%;
    color: white;
}

.settingsRackButton{
    width: 60px;
    cursor: pointer;
}
