<div class='settingsRackContainer'>
    <div class='menuContainer'>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : overviewSelected }"
            (click)="selectMenuItem(0)">
            Overview
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : envelopeSelected }"
            (click)="selectMenuItem(1)">
            Envelope
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : partialsSelected }"
            (click)="selectMenuItem(2)">
            Partials
        </div>

        
    </div>
    <div style='height:104px; overflow: hidden;'>
        <div class='controlshadow-3' style='z-index: 1000; position: absolute; height: 104px; width: 310px;'>

        </div>
        <div class='settingsHolder' style='position: relative'>
            <div *ngIf="overviewSelected" style='height: 104px; font-size: 1.5em; font-weight:bold; opacity: 0.7;' class='centerChild'> 
                <i class="far fa-eye" style='font-size: 1.5em;'></i>
                I'm the Overview component
            </div>
            <div *ngIf="envelopeSelected" style='height: 104px; font-size: 1.5em; font-weight:bold; opacity: 0.7;' class='centerChild'> 
                <i class="far fa-envelope" style='font-size: 1.5em;'></i>
                I'm the Envelope component
            </div>
            <div *ngIf="partialsSelected" style='height: 104px; font-size: 1.5em; font-weight:bold; opacity: 0.7;' class='centerChild'> 
                <i class="far fa-chart-bar" style='font-size: 1.5em;'></i>
                I'm the Partials component
            </div>
        </div>

    </div>
</div>
