<div class='settingsRackContainer'>
    <div class='menuContainer'>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : overviewSelected }"
            (click)="selectMenuItem(0)">
            Overview
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : envelopeSelected }"
            (click)="selectMenuItem(1)">
            Amp
        </div>

        <div class='settingsRackButton h-100 centerChild'
            [ngClass]="{ 'selected' : partialsSelected }"
            (click)="selectMenuItem(2)">
            Partials
        </div>

        
    </div>
    <div *ngIf="overviewSelected" class='settingContainer'>
    </div>
    <div *ngIf="envelopeSelected" class='settingContainer'>
        <app-adsr-envelope [(ngModel)]='data.amp' [isOn]='data.isOn' [staccato]='true'></app-adsr-envelope>
    </div>
    <div *ngIf="partialsSelected" class='settingContainer'>
        <app-partials [(ngModel)]='data.partials'></app-partials>
    </div>
</div>
