@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.nodeStyle {
    stroke:white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:3px;
    cursor: pointer
}

* {

    font-family: 'Roboto', sans-serif;
}

.partLabel {

    font-weight: bold;
}

.rightSelector {
    text-align: right;
}

.rightMenu {
    text-align: right;
}

.partSelector {
    width: 70%;
    opacity: 0.8;
    font-size: 1.2em;
    letter-spacing: 1.2px;
}

.partSelectable {
    font-weight: 300;
}

