<div class='h-100'>

    <div style='height: 80%; display: flex; align-items: flex-end;'>
        <div *ngFor='let p of partials'
        class='h-100 indContainer' style=' display: flex; flex-direction: column;'>
            <div style='margin-top: auto;' class='centerChild' [ngStyle]="{'height' : (p * 100)+ '%' }">
                <div class='centerChild' style='background-color: #F8BEAE; border: 1px solid #ffe2e2; border-radius: 2px; width: 80%; height: 100%;'>
                    <span [hidden]="hideP(p)">{{p}}</span>
                </div>
            </div>
        </div>
    </div>

    <div style='height: 20%; font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;'>
        <div class='d-flex h-100'>
            <div style='width:70%;' class='h-100'></div>
        
            <div class='h-100 centerChild' style='width:30%;' class='h-100 d-flex'>
        
                <div style='width:50%;' class='centerChild'>
                    COUNT: 
                </div>
        
                <div style='width:50%;' class='centerChild'>
                    <input class='partials-numInput'
                    [(ngModel)]='partialCount'
                    (change)='updatePartials(partialCount);'
                    type="number"
                    [disabled]="partialSelectionDisabled"
                    min="0"
                    max='32'>
                </div>
            </div>
         </div>
    </div>

    
</div>