<div class='w-100 rounded' style='height: 100px; background-color: #252c33;'>
  <div style='height:  13%' class='control-label centerChild'>
  </div>
  <div class='d-flex' style='height:73%'>
    <div style='width: 15px; writing-mode: tb-rl; transform: rotate(-180deg);' class='h-100 control-label centerChild'>
      Time
    </div>
    <div #svgContainer class='flex-grow-1 h-100'>
      <svg #svg width='0' height='0'></svg>
    </div>
    <div style='width: 15px;' class='h-100 centerChild'>

    </div>
  </div>
  <div style='height:  13%' class='control-label centerChild'>
    Dry/wet
  </div>

</div>
