
<div class='fullExpand centerChild'>
    <div>
        <div class='topbar'></div>
        <div class='synth'>
            <div class='content-wrapper h-100 d-flex'>
                <div class='osc-rack h-100'>
                    <ng-container *ngFor='let osc of oscillators; let i = index'>
                        <app-oscillator [data]="osc" ></app-oscillator>
                    </ng-container>
                    <!-- <app-simple-eq></app-simple-eq> -->
                    <div style='height: 30px; background-color: #ff9170'>

                    </div>
                </div>
                <div>
                    <!-- <app-piano-roll></app-piano-roll> -->

                </div>
            </div>
        </div>
    </div>
</div>