<div style='height:120px; background-color: #303133; border-radius:5px;'>
    <div style='height:80%'>
        <ng-container *ngIf="svgWidth"></ng-container>
        <!-- <svg #svg width="100%" height="100%">
            <line *ngFor="let gridItem of [1,2,3,4]; let i = index"
            [attr.x1]="0"
            [attr.y1]="svgHeight * i"
            [attr.x2]=""
            [attr.y2]="svgHeight * i"
            
            
            style="stroke:rgb(255,0,0);stroke-width:2" />
          </svg> -->

          <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
                <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5"/>
              </pattern>
              <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                <rect width="80" height="80" fill="url(#smallGrid)"/>
                <path d="M 20 0 L 0 0 0 20" fill="none" stroke="gray" stroke-width="1"/>
              </pattern>
            </defs>
          
            <rect width="100%" height="100%" fill="url(#grid)" />
          </svg>
    </div>
    <div style='height:20%;'>
        <div class='d-flex' style='margin:5px;'>
            <div style='width:40%;' class='metricsConainer'>
                <span>A: 0</span>
                <span>D: 0</span>
                <span>S: 0</span>
                <span>R: 0</span>
            </div>
            <div>

            </div>
        </div>


    </div>
</div>