
.oscName {
    font-weight:800;
    letter-spacing:1.4px;
    font-size:1.2em;
    padding-left:20px;
}

.waveTable{
    width: 90%;
    height:70px;
    margin: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #cbd9e2;
    border-top: 3px solid #647886;
    border-bottom: 3px solid #ececec;
}

.detuneContainer {
    width: 50px;
}

.pitchContainer {
    width: 40px;
}

.osc-container{
    height:60px;
    background-color:#38393c;
    margin:10px;
    border-radius:5px;
}

.osc-rack{
    display: flex;
    flex-direction: column;
    width:30%;
    font-size:0.5em;
    color: #23D0EA;
}

.osc-control-row{
    height:60px;
}

.controlContainer{
    margin: 0 10px;
}

.numInput{
    background-color:#333333;
    border:none;
    color: #23D0EA;
    text-align:center;
    padding:5px;
    margin: 0 2px;
    border-radius: 4px;
    font-weight:800;
    width: 100%;
}

.control-row{
    height:45px;
    margin:5px;
}
