<div class='osc-container osc-shadow'>
    <div style='height:24px;' class='d-flex'>
        <div style='width:10%;' class='centerChild h-100'>
            <app-led [(ngModel)]='data.isOn'></app-led>
        </div>
        <div style='width:20%;' class='centerChild label'>
            WAVEFORM
        </div>
        <div style='width:20%;' class='centerChild label'>
            DETUNE
        </div>
        <div style='width:25%;' class='centerChild label'>
            PHASE
        </div>
        <div style='width:25%;' class='centerChild label'>
            GAIN
        </div>
    </div>
    <div style='height:32px;' class='d-flex'>
        <div style='width:10%;' class='centerChild'>
            <span>{{data.number}}</span>
        </div>

        <div style='width: 20%;' class='centerChild'>
            <select [(ngModel)]='data.waveType'
                class='controlshadow-3'
                [disabled] = '!data.isOn'
                style= 'width:45px;'
                (change)="data.selectWaveForm(data.waveType)">
                <option [value]="waveForm"
                *ngFor="let waveForm of data.availableWaveForms">
                    {{waveForm}}
                </option>
            </select>
        </div>

        <div style='width: 20%;' class='centerChild'>
            <input class='numInput controlshadow-3'
            [disabled] = '!data.isOn'
            [(ngModel)]="data.detune"
            style= 'width:45px;'
            type="number"
            min="-0.99"
            step="0.01">
        </div>

        <div style='width:25%;' class='centerChild'>
            <app-knob [lowerRotationLimit]='30' [upperRotationLimit]='330' [upperOutputLimit]='100'>
            </app-knob>
        </div>

        <div style='width:25%;' class='centerChild'>
            <app-knob [lowerRotationLimit]='30' [upperRotationLimit]='330' [upperOutputLimit]='100'>
            </app-knob>
        </div>
    </div>

    <div (click)='togglePartials(data.number)' style='text-align: center; padding: 3px;'>
        <span style='padding:2px;'>
            <!-- <i class="fas" style='font-size:1.5em; cursor: pointer; color: white;' [ngClass]="showPartials ? 'fa-angle-up' : 'fa-angle-down'"></i> -->
            <i class="fas fa-chart-bar"></i>
        </span>
    </div>

    <app-partials [showPartials]='showPartials' [partials]='data.partials'></app-partials>


</div>