<div class='osc-container'>
    <div style='height:24px;' class='d-flex oscLabelHeading'>
        <div style='width:8%;' class='centerChild h-100'>
            <app-led [(ngModel)]='data.isOn'></app-led>
        </div>
        <div style='width:18%;' class='centerChild label'>
            Waveform
        </div>
        <div style='width:18%;' class='centerChild label'> 
            Detune
        </div>
        <div style='width:23%;' class='centerChild label'>
            Phase
        </div>
        <div style='width:23%;' class='centerChild label'>
            Gain
        </div>
    </div>
    <div style='height:60px;' class='d-flex'>
        <div style='width:8%;' class='centerChild'>
            <span class='oscNumber'>{{data.number}}</span>
        </div>

        <div style='width: 18%;' class='centerChild'>
            <select [(ngModel)]='data.waveType'
                class='controlshadow-3'
                [disabled] = '!data.isOn'
                style= 'width:45px;'
                (change)="data.selectWaveForm(data.waveType)">
                <option [value]="waveForm"
                *ngFor="let waveForm of data.availableWaveForms">
                    {{waveForm}}
                </option>
            </select>
        </div>

        <div style='width: 18%;' class='centerChild'>
            <input class='numInput controlshadow-3'
            [disabled] = '!data.isOn'
            [(ngModel)]="data.detune"
            style= 'width:45px;'
            type="number"
            min="-0.99"
            step="0.01">
        </div>

        <div style='width:23%;' class='centerChild'>
            <app-knob [lowerRotationLimit]='30' [upperRotationLimit]='330' [upperOutputLimit]='100'>
            </app-knob>
        </div>

        <div style='width:23%;' class='centerChild'>
            <app-knob [lowerRotationLimit]='30' [upperRotationLimit]='330' [upperOutputLimit]='100'>
            </app-knob>
        </div>
        <div style='width: 10%;' class='centerChild'>
            <div class='controlshadow-5' style='border-radius: 10px; width:20%; height: 80%; background-color: #f18a6d; '></div>
        </div>
    </div>

    <app-settings-rack></app-settings-rack>


</div>