* {
    font-family: Helvetica, sans-serif;
    font-size:0.9em;
}

.container{
    min-height:100px;
    background-color:white;
    border-radius:5px;
}

.titleContainer{
    padding:7px;
    font-weight: 500;
}

.coOrdContainer{
    padding:7px;
}

.borderBottom{
    border-bottom:1px solid rgb(243, 243, 243);
}

.clickContainer{
    height:30px;
}

.clickIndicator{
    background-color:blue;
    color: white;
    padding:3px;
}