@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.nodeStyle {
    stroke:white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:3px;
    cursor: pointer
}

* {
    font-family: 'Space Mono', monospace;
}

