<div class='h-100 d-flex'>
    <div style='width: 70%;' class='h-100'>
        <svg height='100%' width='100%'>

            <path d="M48,124.55
            l32.14-95
            s86.39,95,205.26,95" transform="translate(-45.47 -27.02)" style="fill:none;stroke:white;stroke-linecap:round;stroke-linejoin:round;stroke-width:5px"/>
                <!-- <path d='M0,0 L 50,50'
                style="fill:none;stroke:white;stroke-linecap:round;stroke-linejoin:round;stroke-width:5px"/> -->

         </svg>
    </div>
    <!-- <div style='width: 30%; background-color: green;' class='h-100'>

    </div> -->

</div>