.isOpen {
    height:100px !important;
    opacity: 1 !important;
}

textarea:focus, input:focus{
    outline: none;
}

.partialContainer {
    opacity: 0;
    transition: 0.3s;
    margin: 5px;
    height: 0;
    background-color: #303134;
    border-radius: 5px;
    overflow: hidden;
}

.partials-numInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #5be279;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
}