<div [ngClass]="{'isOpen': showPartials}" class='partialContainer'> 
     <div style='height:80%;'>

     </div>
     <div style='height:20%; border-top:1px dotted #5be279;'class='d-flex'>
        <div style='width:70%;' class='h-100'>

        </div>

        <div style='width:30%; color:#5be279;' class='h-100 d-flex'>

            <div style='width:50%;' class='centerChild'>
                COUNT: 
            </div>

            <div style='width:50%; color: #5be279;' class='centerChild'>
                <input class='partials-numInput'
                type="number"
                min="0"
                max='32'>
            </div>
        </div>
     </div>
</div>